/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

.ag-theme-alpine .ag-cell-hover {
  text-decoration: underline;
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

